#app {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $black !important;
}

.title,
.subtitle {
	font-family: 'Poppins';
	font-style: normal !important;
	font-weight: normal !important;
}
