$navbar-menu-border-radius: 4px !default;

$navbar-menu-transform-content: 150px !default;

$navbar-menu-link-height: 50px !default;
$navbar-menu-arrow-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04) !default;

$navbar-menu-touch-size: 50px !default;
$navbar-menu-touch-close-size: 50px !default;

$navbar-menu-color: #4a4a4a !default;
$navbar-menu-color-text: #7a7979 !default;
$navbar-menu-color-hover: #3d6cfb !default;

$navbar-menu-transition: 0.25s !default;
$navbar-menu-transition-link: 0.1s ease !default;

$navbar-menu-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3),
	0 -18px 60px -10px rgba(0, 0, 0, 0.025) !default;

$navbar-menu-media: 1023px !default;
